*{
    padding: 0%;
    margin: 0%;
}
.cabecera{
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: bold;

}
.titulo{
    margin-top: 1.3%;
}
.botones-nav{
    margin-top: 1%;
    margin-bottom: 1%;
}
.boton{
    margin-right: 0.5%;
    width: 6%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    font-size: 0.6em;

}
.btn-oscuro{
    display: none;
}    


main{
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
    background-color: cadetblue;
    padding-top: 1%;
    padding-bottom: 1.3%;
}

.container-meme{
    background-color: black;
    height: 70vh;
    width: 30%;
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1.5%;
}
.t-txt, .b-txt{
height: 15%;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 2em;
font-weight: bold;
}
.contenedor-img{
    height: 100%;
}

.btn-descargar{
    margin: auto;
    width: 10%;
    padding: 0.5%;
    font-size: 1em;
    background-color: green;
}
.icono{
    padding-right:3%;
    font-weight: bold;
}
aside{
    position: absolute;
    width: 15%;
    height: 95.5%;
    right: 0%;
    top: 0%;
    background-color: rgb(100, 237, 143) ;
    padding: 1%;
} 

.contenedor-tamanos{
    display: flex;
    width: 100%;
    }

.tamano-texto, .alineadores{
    width: 50%;
    margin: 2px;
}
.alineadores{
    display: flex;
    justify-content: space-around;

}
.btn-alineacion{
width: 30%;
font-size: 1em;
}
/* .panel-imagen{
    display:none;
} */